<!-- <table>
  <tr *ngFor="let app of apps">
    <td>{{app.Id}}</td>>
    <td>{{app.ApplicationName}}</td>
  </tr>
</table> -->
<!-- <mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="ApplicationName">
    <mat-header-cell *matHeaderCellDef>ApplicationName</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.ApplicationName}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="ApplicationName">
        <mat-header-cell *matHeaderCellDef>ApplicationName</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ApplicationName}}</mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
